#menu
{
	position: fixed;
	width: 100%;
	height: 60px;
	text-align:center;
	background: rgb(10, 128, 158);
	
}
h1 {
	text-align: center;
	font-family: 'Dancing Script', cursive;
	font-size: 40px;
	color: cadetblue ;
	margin-bottom: 30px;
}

#about 
{
	
	
	text-align:  center ;
	width: 100%;
	border-style: solid;
	border-width: medium;
	border-color: blue;
	font-style: italic ;
	font-size: 25px;
	

	
}

#photos 
{
	width: 100%;
	border-style: solid;
	border-width: medium;
	border-color: blue;
	text-align: center;

}

#mySlides
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}


#playlist
{
	width: 100%;
	border-style: solid;
	border-width: medium;
	border-color: blue;
	text-align: center ;
	
}

#like
{
	width: 100%;
	align-self: center;
	border-style: solid;
	border-width: medium;
	border-color: blue;
	
}

#qrcoder
{
	width: 100%;
	border-style: solid;
	border-width: medium;
	border-color: blue;
	
}

#download
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
}

#spa
{
	width: 100%;
	border-style: solid;
	border-width: medium;
	border-color: blue;
	text-align:  center ;
	
}

#contact
{
	width: 100%;
	border-style: solid;
	border-width: medium;
	border-color: blue;
	text-align: center;
}

